body {
 background:#2D2D2D url(/img/wood.jpg);
 font-family: Helvetica, Verdana, Arial, Tahoma, sans-serif;
 color:#fff;
}

h1 {
    
}

h2 {

}
h3 {
    margin:0px; 
}


#container {
/*	border: 1px solid #666; */
    margin: 20px auto;
    width: 1000px;
    background: #161616;
}

#header { 
    background: #000 url(/img/top-gradient.gif) repeat-x;
	height: 100px;
}

#header #logo h1 {
    color: #fff;
    padding: 10px;
}

#header #identity {
	text-align: right;
	margin-top: 10px;
	padding:10px 20px;
	background: #111;
	width: 270px;
	float:right;
}

#nav {
   background:#541100;
/*    background: #a34a21; */
/*	background: #E09200;
	background: #E38400
*/	
/*	background: #a34a21; */

	border-left: 2px solid #161616;
	border-right: 2px solid #161616;
    margin:0;
    padding:0;    
}

#nav ul {
    margin:0;
/*    margin-left: 20px; */
    padding:0;
    float: left;
}

#nav ul li {
    list-style-type: none;
    float: left;
    margin:0;

}

#nav ul li a {
    display: block;
    padding:10px 20px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;

}

#nav ul li:hover, #nav ul li a:hover {
    background: #111;
}

#content {
    padding-top:20px;
	padding-bottom: 30px;

    color: #fff;
}

#footer {
	border-top: 1px solid #333;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#footer-right { 
	text-align:right;
}

#footer-left {
	text-align: left;
}

a { 
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #541100;
}

.box {
	background: #111;
	padding: 10px;
	margin-bottom: 20px;
}

.box-title {
    background: #111 url(/img/top-gradient.gif) repeat-x;
}

.box-title h2 , .box-title h3, .box-title h4 {
    margin:0px;
    padding:10px 20px;
}

.title {
    background: #111 url(/img/top-gradient.gif) repeat-x;
    margin-bottom: 10px;
}

.title h2 , .title h3, .title h4 {
    margin:0px;
    padding:10px 20px;
}

.header {
	padding:20px;
	background-color:#111;
	margin-bottom:20px;
}

.header h1, .header h2, .header h3, .header h4 {
	padding: 0;
	margin:0;
}


.album_grid {
    float:left;
    clear:right;
    width: 160px;
    padding:10px;
    margin:20px 5px 20px 5px;
    text-align:center;

    background: #111;
}



.album_grid a {
    font-size: 11px;
    text-decoration: none;
}

.album_grid a:hover {
    color: #541100;
}

.small_cover {
    width: 160px;
    height: 160px;
    margin-bottom:10px;
}

.small_cover a img{
	width: 160px;
	height: 160px;
    border: 1px solid #222;
}


.medium_cover {
    background: #222;
	text-align:center;
}

.medium_cover img  {
    padding:4%;  
    width:92%;
}



.large_cover {

}

.large_cover img {
    width:335px;
}


#alpha_pager {
    margin: 20px auto;
    width: 900px;
    
}

#alpha_pager span {

}


#alpha_pager span a {
    display:block;
    float:left;
    width: 40px;
    margin:2px;
    padding:2px;
    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
}

#alpha_pager span a:hover {
    background: #541100;
    color: #fff;
}

#alpha_pager span a.current {
	background: #541100;
	color: #fff;
}

#now_playing {
    background: #111;
}

#now_playing_info {
    padding:15px;margin-top:10px;background: #111;
}

#now_playing_info table td {
    background: #111;
}

#playlist, #played {
}

#playlist .album_grid, #played .album_grid {

}

.album_listing {
    margin-bottom: 20px;
}

.tracks_table {
    background: #111;
    padding:10px;
}

.request {
    display: block;
    background:#541100 url(/img/nav-gradient.gif) repeat-x;
    padding:5px;
    width: 80px;
    text-align:center;
}

.request:hover {
    color: #fff;
    background: #333 url(/img/top-gradient.gif) repeat-x;
}


.request_title {
    display: block;
    background:#541100 url(/img/nav-gradient.gif) repeat-x;
    padding:10px;
    width: 80px;
    text-align:center;
    margin-top:5px;
    margin-right: 10px;
}

.request_title:hover {
    background: #333;
}
